name: Tests

on:
  workflow_dispatch:
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.13" ]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel poetry
        poetry install --with=dev
    - name: Lint with ruff
      run: |
        poetry run ruff check
    - name: Lint with mypy
      run: |
        poetry run mypy --show-column-numbers --show-error-end

  test:
    runs-on: ubuntu-latest
    needs: [ lint ]
    strategy:
      matrix:
        python-version: [ "3.13" ]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel poetry
        poetry install --with=test
    - name: Test with pytest
      run: |
        poetry run pytest
