name: Publish

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  publish:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.13"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel poetry
        poetry install
        poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
    - name: Build package
      run: poetry build
    - name: Publish package
      run: poetry publish
